@font-face
{
font-family: Allura;
src: url(./fonts/Allura-Regular.otf);
}
@font-face
{
font-family: Bonveno;
src: url(./fonts/BonvenoCF-Light.otf);
}
@font-face
{
font-family: Aaargh;
src: url(./fonts/Aaargh.ttf);
}
@font-face
{
font-family: Molengo;
src: url(./fonts/Molengo-Regular.ttf);
}


h1
{
text-align:center;
color:azure;
font-family: Aaargh;
font-size: 75px; font-size: 5vw;
position: relative;
margin-top:150px; margin-top: 8vw;
margin-bottom:50px;
/*border: 25px solid navy;*/
/*max-width: 720px;*/
position: absolute;
left: 33%;
right: 33%;
border-radius: 25px;
background: rgba(50,50,50,0.5);
-moz-box-shadow: 0 0 5px 5px rgba(50,50,50,0.5);
;
-webkit-box-shadow: 0 0 5px 5px rgba(50,50,50,0.5);
;
box-shadow: 0 0 5px 5px rgba(50,50,50,0.5);
}

ul
{
text-align:center;
font-family: Bonveno;
font-size: 1.5em;
background-color:dimgrey;
position:fixed;
margin:0;
top: 0;
left:-3%;
width: 103%;
height: 1.6em;
list-style-type: none;
}
li
{
    display:inline;
}

p 
{
font-family:Molengo;
font-size: 16px;
text-align: left;
margin-top:40vw;
margin-left:25%;
margin-right:25%;
margin-bottom:10px;
}

p.notop
{
font-family:Molengo;
font-size: 16px;
text-align: left;
margin-top:10px;
margin-left:25%;
margin-right:25%;
margin-bottom:10px;
}

body 
{
background-image:url("bilder/bg-02.jpg");
background-size:100%;
background-repeat: no-repeat;
background-color: black;
color: darkgrey;
}

a:link {color:#cc9999;}      /* unvisited link */
a:visited {color:#cc9999;}      /* unvisited link */
;}  /* visited link */
/*a:hover {color:#ffffff;}  /* mouse over link */

img.single
{
max-width:100%;
}

div{
font-family:Bonveno;
}

div.img
{
margin-top:30px;
margin-left:25%;
margin-right:25%;
width:auto;
height:auto;
/*border: 25px solid navy;*/
}

div.imgx
  {
margin:1vw;5px;
/*border-color:#FF0000;*/
/*border-width:2px;*/
/*border-style:solid;*/
height:auto;
width:auto;
display:inline;
float:left;
  }
div.gallerygroup
  {
/*margin-top:40vw;*/
margin-top:10px;
margin-left:5em;
margin-right:5em;
margin-bottom:5em;
border-color:#993355;
border-width:2px;
border-style:solid;
height:auto;
width:auto;
display:inline;
float:left;
  }
div.desc
  {
margin-left:25%;
margin-right:25%;
padding-top:5px;
text-align:left;
font-family:Bonveno;
font-weight:bold;
color:#cc5555;
width:auto;
  }

#colbox{
  background-color:hsl(180, 100%, 50%);
  width:40px;
  height:40px;
  border-radius:15%;
}

span{
    display: inline-block;
    text-align: center;
    font-family: Molengo;
    padding: 10px;
    width: auto;
}
span.fixedwidth{
    width: 2.5em;
}
input{
    margin-left: 10px;
    margin-right: 10px;
}
canvas{
margin-top:10px;
margin-bottom:10px;
}

video{
margin:10px;
margin-left:25%;
margin-right:25%;
}
