@font-face
{
font-family: Allura;
src: url(./fonts/Allura-Regular.woff);
}
@font-face
{
font-family: Bonveno;
src: url(./fonts/BonvenoCF-Light.otf);
}
@font-face
{
font-family: Aaargh;
src: url(./fonts/Aaargh.ttf);
}
@font-face
{
font-family: Molengo;
src: url(./fonts/Molengo-Regular.ttf);
}


h1
{
text-align:center;
color:#41261f;
font-family: Allura;
font-size: 75px; font-size: 5vw;
position: relative;
margin-top:150px; margin-top: 8vw;
margin-bottom:50px;
/*border: 25px solid navy;*/
max-width: 720px;
position: absolute;
left: 30%;
right: 30%;
}

menu
{
text-align:center;
font-family: Bonveno;
font-size: 1.5em;
background-color:#f1efe3;
position:fixed;
margin:0;
top: 0;
left:-3%;
width: 103%;
height: 1.6em;
}



p 
{
font-family:Molengo;
font-size: 16px;
text-align: left;
margin-top:40vw;
margin-left:25%;
margin-right:25%;
}

body 
{
background-image:url("bilder/website-banner_leaves.png");
background-size:100%;
background-repeat: no-repeat;
}

a:link {color:#cc9999;}      /* unvisited link */
a:visited {color:#cc5555;}  /* visited link */
/*a:hover {color:#ffffff;}  /* mouse over link */

div.img
{
margin-top:20px;
margin-left:25%;
margin-right:25%;
width:auto;
height:auto;
}

div.imgx
  {
margin:2vw;10px;
/*border-color:#FF0000;*/
/*border-width:2px;*/
/*border-style:solid;*/
height:auto;
width:auto;
display:inline;
float:left;
  }
div.gallerygroup
  {
margin-top:40vw;
margin-left:5em;
margin-right:5em;
margin-bottom:5em;
border-color:#993355;
border-width:2px;
border-style:solid;
height:auto;
width:auto;
display:inline;
float:left;
  }
div.desc
  {
padding-top:5px;
text-align:center;
font-family:Bonveno;
font-weight:normal;
color:#555555;
width:150px;
  }
