//German class style

@font-face
  font-family: Allura
  src: url(../fonts/Allura-Regular.otf)

@font-face
  font-family: Bonveno
  src: url(../fonts/BonvenoCF-Light.otf)

@font-face
  font-family: Aaargh
  src: url(../fonts/Aaargh.ttf)

@font-face
  font-family: Molengo
  src: url(../fonts/Molengo-Regular.ttf)

@font-face
  font-family: CrimsonReg
  src: url(../fonts/Crimson_Text/CrimsonText-Regular.ttf)

@font-face
  font-family: Cookie
  src: url(../fonts/Cookie/Cookie-Regular.ttf)


//colors
$darkgrey: #333
$lightgrey: #eee
$grey: #999
$theme-light: #5ab0f2
$theme-highlite: #0987e7
$theme-base: #0268b6
$theme-darker: #013a66

  
@media only screen and (max-width: 719px)
  .lection-title
    font-size: 4.5em
    
  h1
    font-size: 4em
      
  h2
    font-size: 2.5em
      
  h3
    font-size: 1.7em
    
  h4
    font-size: 1.5em
    
  div.grammar .table-container table, div.vocabulary .voc, div.practice p, div.tasks .task
    font-size: 1.3em
    
  div
    &.practice, &.vocabulary, &.grammar, &.tasks
      width: 100%
      margin: auto
  
  div.tasks .subtask.indent
    padding-left: 0.5em
  
  .navbar a
    display: block
    
  div#all 
    padding: 0.3em 0 6em 0
    h2
      margin-top: 0.3em
    ul
      padding: 0 2em
    
  .main-contents
    margin-bottom: 1em
    
    
@media only screen and (min-width: 720px)
  .lection-title
    font-size: 2.5em
    
  .main-contents
    margin-bottom: 3em
    
  div#all 
    padding: 0.5em 0 3em 0
    
    ul
      width: 50%
    
  h3
    font-size: 1.7em
    
  h4
    font-size: 1.3em
    
  div
    &.practice, &.vocabulary, &.grammar, &.tasks
      width: 80%
      margin: auto
  
  div.tasks .subtask.indent
    padding-left: 2em
  
  .navbar 
    text-align: center
    
    a
      margin: 0.2em
      display: inline-block
  
body
  font-family: CrimsonReg
  background-color: #f7f7f7
  margin: 0
  
p
  font-family: CrimsonReg
  
h1, h2, h3, .lection-title
  font-family: Cookie
  text-align: center
  
.lection-title
  color: $theme-darker
  
h4
  text-align: center
  font-family: Bonveno
  margin-top: 0
  margin-bottom: 1em
  
table
  th
    text-align: left
    
  td, th
    padding-right: 0.5em
    
      
.main-contents
  margin-left: 5px
  margin-right: 5px
  
div#all
  background: #333
  
  h2
    color: $theme-light
    
  ul
    text-align: center
    list-style-type: none
    margin: auto
    
    li
      display: block
      font-family: Bonveno
      background-color: $lightgrey
      border: 1px solid $theme-base
      border-radius: 0.2em
      margin-bottom: 0.2em
      padding: 0 0.5em
      box-shadow: rgba(0,0,0,0.8) 1px 1px 10px
      
      &:hover
        background-color: $theme-base
        a
          color: #fff
      
      a
        color: $darkgrey
        text-decoration: unset

.navbar 
  .navItem, a
    font-family: Bonveno
    background-color: $lightgrey
    border: 1px solid $theme-base
    display: inline-block
    border-radius: 0.2em
    padding: 0 0.5em
    box-shadow: rgba(0,0,0,0.6) 1px 1px 10px
    color: $darkgrey
    text-decoration: unset
    
    &:hover
      color: #fff
      background-color: $theme-base
    
div.practice
  p
    background-color: #fff
    margin: 0.7em 0
    
    .visibility-button
      display: block
      padding: 1.3em 1.3em 0.6em 1.3em
    .textbox
      padding: 0.6em 1.3em 1.3em 1.3em
      &.visible
        display: block
        
    .name
      padding-right: 0.7em
      color: $theme-base
      
div.vocabulary
  .voc
    background-color: #fff
    padding: 0.3em 1.3em
    margin-bottom: 0.3em
    
    span
      border-right: 2px solid $theme-highlite
      padding: 0 0.7em
      
      &:first-child
        border-left: 2px solid $theme-highlite
    
div.grammar
  .section
    background-color: #fff
    padding: 1.3em
    margin-bottom: 0.7em
    
  div.table-container
    border-bottom: 2px solid $grey
    
div.tasks
  .task
    background-color: #fff
    padding: 1.3em
    margin-bottom: 0.7em
    
  .subtask
    color: $theme-highlite
    font-family: Bonveno
    
.highlited
  color: $theme-highlite

.hidden
  display: none